{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Video streaming website Netflix clone. Frontend - HTML5, Pure CSS3 [flexbox], JS, OWL Carousel, JQuery |" />
    <meta name="robots" content="index, follow" />
	
	<!-- og properties -->
	
	<meta property="og:site_name" content="SANDEEP BISWAS" />
	<meta property="article:publisher" content="https://www.facebook.com/" />

	<meta property="og:image" content="{% static 'images/site-image-description.png' %}" />

    <title>
        {% block title %}
        Netflix | The way you browse
        {% endblock %}
    </title>
    {% comment %} <link rel="stylesheet" href="{% static 'lib/owl.carousel.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" integrity="sha256-t2kyTgkh+fZJYRET5l9Sjrrl4UDain5jxdbqe8ejO8A=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/browse.css' %}"> {% endcomment %}
    {% tailwind_css %}
    
</head>
<body>
    {% block content %}
    {% endblock %}






    {% comment %} <script src="{% static 'js/main-script.js' %}"></script>
    <script src="{% static 'lib/jquery 3.5.0.js' %}"></script>
    <script src="{% static 'lib/owl.carousel.js' %}"></script> {% endcomment %}
</body>
</html>